@charset "utf-8";

// Set your brand colors
$brown: #531C26;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
$orange:#F58327;
$orange-transparent: #F5832766;
$white-transparent:rgba(255, 255, 255, .75);
$red: #ff000a;

// Update Bulma's global variables
@import url('../fonts/Inter-UI/inter-ui.css');
$family-sans-serif: 'Inter UI', sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $orange;
$link: $orange;
$warning: $orange;
$danger: $red;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;

$navbar-background-color: $white-transparent;
$navbar-item-color : $brown;
$navbar-item-hover-color : $brown;
$navbar-item-hover-background-color : $orange-transparent;
$navbar-item-active-color : $brown;
$navbar-item-active-background-color : transparent;
$navbar-dropdown-arrow : $brown;

$box-background-color: $white-transparent;
$title-color:$brown;

$input-border-color: transparent;
$input-shadow: none;

$border: $brown;
$panel-item-border:1px solid $border;	
$panel-heading-background-color: $brown;
$panel-heading-color: $orange;

$modal-card-head-background-color: $brown;
$modal-card-title-color:$orange;

// Import only what you need from Bulma
// @import "../node_modules/bulma/bulma.sass"; //this imports all
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/box.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/icon.sass";
@import "../node_modules/bulma/sass/elements/table.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/form.sass";
@import "../node_modules/bulma/sass/elements/notification.sass";
@import "../node_modules/bulma/sass/elements/other.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/grid/columns.sass";
@import "../node_modules/bulma/sass/components/card.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/components/message.sass";
@import "../node_modules/bulma/sass/components/modal.sass";
@import "../node_modules/bulma/sass/components/panel.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";
@import "../node_modules/bulma-slider/src/sass/index.sass";

body {
	min-height: 100vh;
	background: repeating-linear-gradient(135deg, #00000033, #00000033 60%, transparent 60%, transparent), url(https://source.unsplash.com/random/1920x1080?nature) center 50% no-repeat; /* TODO : make transparent gradient and url for background a theme option */
    background-size: cover;
    background-attachment: fixed;
    overflow: auto;
}
.navbar {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.75), rgba(255,255,255,.5) 60%, rgba(255, 255, 255, 0));

    .navbar-item.is-active {
        font-weight:bold;
        .icon {
            color: $orange;
        }
    }
}
.navbar-brand {
    font-weight: bold;
    text-transform: uppercase;
}

#delete-day {
    display: inline-block;
    width: calc(100% - ( 6.1rem ));
    margin-top: 0rem;
}
input[type="range"].slider:not([orient="vertical"]).has-output + output[for=delete-day] {
    width: 5rem;
    top: -.9rem;
    z-index: 0;
}

#files {
    position: relative;
    border: 2px dashed $brown;
    border-radius: 6px;
    padding: 2rem 1rem;
    text-align: center;
    color: $brown;
    margin-bottom: 1rem;
    -webkit-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 200ms ease-out;

    #file-browser-button {
        position: absolute;
        width: 100%;
        top:0;
        right: 0;
        bottom: 0;
        left:0;
        opacity: 0;
        cursor: pointer;
    }

    &:hover {
        background-color:$orange-transparent;
    }
    
}
.progress-info {
    text-shadow: initial;
    font-weight: bold;
}
#results {
    display: none;
}

#uploadOptions {
    margin-top:2rem;
}

p {
    margin-bottom: 2rem;
}